/* MAP CONTAINER */
.map-container {
  flex: 1;
  position: relative;
  /* for zooming and centering effect */
  transition: all 0.5s ease-in-out;
}

/* SVG MAP */
.map-container svg {
  width: 100%;
  height: 100%;
  animation: mapFade 0.6s ease;
}

/* TOOLTIP */
.tooltip.cursor {
  position: fixed;
  transform: translate(-50%, -120%); /* above pointer */

  background: rgba(30, 41, 59, 0.95);
  color: white;

  padding: 6px 12px;
  border-radius: 8px;

  font-size: 13px;
  font-weight: 500;

  pointer-events: none;
  white-space: nowrap;

  z-index: 9999;

  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


/* REMOVE OUTLINE */
svg:focus,
svg:active {
  outline: none;
}

.map-container svg path {
  transition: all 0.25s ease;
  cursor: pointer;
}

.map-container svg path:hover {
  filter: brightness(1.1);
}